body {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  flex-direction: column;
  align-items:center;
}

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  background: linear-gradient(white, #248bcd);
  padding-top: 80px;
}

.header-content {
  display: flex;
  margin: 0 auto;
  width: 66%;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.header-logo{
  height: 100px;
  width: 400px;
}

.header-pic {
  height: 260px;
  width: 400px;
}

.nav {
  background: #248bcd;
  color: #fff;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  position: fixed;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
}

.nav-list > li > a {
  display: block;
  padding: 2rem 1.5rem;
}

.nav-list > li:hover {
  color: blue;
}

section {
  display: flex;
  padding-top: 80px;
  flex-direction: column;
}

#section1 {
  background: linear-gradient(#248bcd, white);
}

#section2 {
  background: linear-gradient(white, #248bcd);
}

#section3 {
  background: linear-gradient(#248bcd, white);
}

h1 {
  font-size: 30px;
  padding: 20px;
}

.section-content {
  display: flex;
  padding: 20px;
}

.section-text {
  display: flex;
  flex-direction: column;
  width: 66%;
}

.section-text > div {
  margin-bottom: 10px;
}

.section-pic {
  width: 33%;
  margin-right: 20px;
}

.contact-info {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.contact-info > div {
  display: flex;
  flex-direction: column;
}

.active {
  border-bottom: .25rem solid #64a19d;
  color: white;
}

.contact-info, .address, .phone-fax {
  margin: 0;
}

footer {
  margin: 20px;
  display: flex;
}

footer > div {
  margin: 0 auto;
}
